/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/maksukortti/.pytest_cache
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
.vscode
/projekti/.pytest_cache
/projekti/.coverage
/projekti/htmlcov
.pytest_cache
htmlcov
__pycache__
/projekti/src/__pycache__/
